.image {
    opacity: 1;
    display: flex;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    max-width: 350px;
}

.container{
    display: "flex";
    flex-grow: 1;
}

.container:hover .image {
    opacity: 0.1;
}

.text {
    font-size: 16px;
    padding: 16px 32px;
}

.middle {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.container:hover .middle {
    opacity: 0.8;
}